/* 画面全体・共通内容 */

.main_container {
  display: flex;
}

.video_container {
  position: fixed;
  z-index: -1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}




/* 時間選択ボタン*/
.time_select_container {
  display: flex;
  flex-flow: column;
  justify-content:space-between;
}

.time_select_container button {
  
}

/* 残り時間表示 */




/* 天気選択ボタン */
.weather_select_container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.weather_select_btn {
  border-radius: 50%;
  border: none;
  width: 120px;
  height: 120px;
}
#weather_select_btn_cloud {
  background-color: royalblue;
}
#weather_select_btn_sun {
  background-color: maroon;
}
.weather_select_btn_img {
  width: 80%;
  height: 80%;
}
